.login {
  height: 95vh;
  width: 100%;
}

.signup {
  height: 95vh;
  width: 100%;
}

.formA {
  border-right: 2px gray solid;
}

.main {
  width: 70%;
  margin-right: auto;
  margin-left: auto;

  .text {
    width: 80px;
    font-weight: 900;
    font-size: 25px;
    border-bottom: 5px solid red;
    margin-bottom: 120px;
    margin-top: 50px;
  }

  .textSignUp {
    width: 300px;
    font-weight: 900;
    font-size: 25px;
    border-bottom: 5px solid red;
    margin-bottom: 120px;
    margin-top: 50px;
  }

  .signUpMessage {
    font-size: 20px;
    font-weight: bold;
  }

  .btw {
    float: right;
    width: 300px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 3px -3px crimson, 2px -2px crimson, 1px -1px crimson;
    border: 1px solid crimson;
    margin-right: 30px;
    margin-top: 20px;
  }
}
